.img-background {
  background-image: url("/assets/loginbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  /* opacity: 0.3; */
  background-position: top center;
}

.btn-margin{
  margin-top: 2em;

}
/* .limited{
  max-width: 1280px;
  margin: auto;
} */
.white-transparent {
  background:
  rgba(52, 58, 64, 0.872);
  width: 100%;
  border: solid #caced1 1px;
}
.label-mat{
  color: #E4D2D2;

}
