<div class="rating-wrapper">
  <ng-container *ngFor="let star of ['5', '4', '3', '2', '1']">
    <input
      type="radio"
      [id]="star + '-star-rating-' + componentID"
      [name]="componentID + '-star-rating'"
      [value]="star"
      [ngModel]="selectedRating[componentID]"
      (change)="onRatingChanges(componentID, star)"
      
      
    />
    <!-- {{star <= selectedRating[componentID]}} -->
    <label [for]="star + '-star-rating-' + componentID" class="star-rating">
      <i class="fa fa-star d-inline-block"></i>
    </label>
  </ng-container>
</div>