<div class="topHeading">CLASSES</div>
<div class="limited">
  <div class="container">
    <div class="row mb-4 mt-4 highlight" *ngFor="let class of classes; odd as isOdd; even as isEven;">
      <div class="col-12 col-4 labelled" *ngIf="isOdd">
        <h5>{{class.className}}</h5>
        <img class="d-block w-100 h-auto" src={{class.photoURL}} alt="group doing zumba dance" width="1140" height="561" />
        <a href="#"  [routerLink]="['/classes',class.className]" >Know More</a>
      </div>
      <div class="col-8 largeText" *ngIf="isOdd">
        <section class="info">
          <h3>{{class.className}}</h3>
          <p>{{class.classShortDescription}}...</p>
          <button class="btn btn-secondary" [routerLink]="['/classes',class.className]" >Know More</button>
        </section>
      </div>
      <div class="col-8 largeText" *ngIf="isEven">
        <section class="info">
        <h3>{{class.className}}</h3>
        <p>{{class.classShortDescription}}...</p>
        <button class="btn btn-secondary" [routerLink]="['/classes',class.className]"  >Know More</button>
      </section>
      </div>
      <div class="col-12 col-4 labelled" *ngIf="isEven">
        <h5>{{class.className}}</h5>
        <img class="d-block w-100 h-auto" src={{class.photoURL}} alt="girl doing boxing with gloves" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes',class.className]"  >Know More</a>
      </div>
    </div>
    <!-- <div class="row mb-4 mt-4 highlight">
      <div class="col-12 col-4 labelled">
        <h5>Zumba</h5>
        <img class="d-block w-100 h-auto" src="assets/images/class/zumba.jpg" alt="group doing zumba dance" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes','zumba']">Know More</a>
      </div>
      <div class="col-8 largeText">
        <section class="info">
          <h3>Zumba</h3>
          <p>Zumba is an exercise fitness program that combines Latin Music and easy to follow dance step...</p>
          <button class="btn btn-secondary" [routerLink]="['/classes','zumba']">Know More</button>
        </section>
      </div>
    </div>
    <div class="row mb-4 mt-4 highlight">
      <div class="col-8 largeText">
        <section class="info">
        <h3>Kick Boxing</h3>
        <p>Kickboxing is a stand-up combat sport based on kicking and punching...</p>
        <button class="btn btn-secondary" [routerLink]="['/classes','Kick Boxing']">Know More</button>
      </section>
      </div>
      <div class="col-12 col-4 labelled">
        <h5>Kick Boxing</h5>
        <img class="d-block w-100 h-auto" src="assets/images/class/kickbox.jpg" alt="girl doing boxing with gloves" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes','Kick Boxing']">Know More</a>
      </div>
    </div>
    <div class="row mb-4 mt-4 highlight">
      <div class="col-12 col-4 labelled">
        <h5>Yoga</h5>
        <img class="d-block w-100 h-auto" src="assets/images/class/yoga.jpg" alt="ladies doing yoga pose" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes','Yoga']">Know More</a>
      </div>
      <div class="col-8 largeText">
        <section class="info">
        <h3>Yoga</h3>
        <p>The term "Yoga" in the Western world often denotes a modern form of hatha yoga and yoga as exercise...</p>
        <button class="btn btn-secondary" [routerLink]="['/classes','Yoga']">Know More</button>
      </section>
      </div>
    </div>
    <div class="row mb-4 mt-4 highlight">
      <div class="col-8 largeText">
        <section class="info">
        <h3>Aerobic</h3>
        <p>Aerobic exercise (also known as cardio or cardio-respiratory exercise) is physical exercise of low to high intensity that depends primarily on the aerobic energy-generating process...</p>
        <button class="btn btn-secondary" [routerLink]="['/classes','Aerobic']">Know More</button>
      </section>
      </div>
      <div class="col-12 col-4 labelled">
        <h5>Aerobic</h5>
        <img class="d-block w-100 h-auto" src="assets/images/class/aerobic.jpg" alt="group doing aerobic with dumbel" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes','Aerobic']">Know More</a>
      </div>
    </div>
    <div class="row mb-4 mt-4 highlight">
      <div class="col-12 col-4 labelled">
        <h5>Calesthenics</h5>
        <img class="d-block w-100 h-auto" src="assets/images/class/calesthenic.jpg" alt="two men doing calesthenic" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes','Calesthenics']">Know More</a>
      </div>
      <div class="col-8 largeText">
        <section class="info">
        <h3>Calisthnics</h3>
        <p>Urban calisthenics is a form of street workout...</p>
        <button class="btn btn-secondary" [routerLink]="['/classes','Calesthenics']">Know More</button>
      </section>
      </div>
    </div>
    <div class="row mb-4 mt-4 highlight">
      <div class="col-8 largeText">
        <section class="info">
        <h3>Body Building</h3>
        <p>Bodybuilding is the use of progressive resistance exercise to control..</p>
        <button class="btn btn-secondary" [routerLink]="['/classes','Body Building']">Know More</button>
      </section>
      </div>
      <div class="col-12 col-4 labelled">
        <h5>Body Building</h5>
        <img class="d-block w-100 h-auto" src="assets/images/class/body.jpg" alt="boy doing body building" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes','Body Building']">Know More</a>
      </div>
    </div>
    <div class="row mb-4 mt-4 highlight">
      <div class="col-12 col-4 labelled">
        <h5>Crossfit</h5>
        <img class="d-block w-100 h-auto" src="assets/images/class/crossfit.jpg" alt="couple doing crossfit training" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes','Cross Fit']">Know More</a>
      </div>
      <div class="col-8 largeText">
        <section class="info">
        <h3>CrossFit</h3>
        <p>CrossFit is promoted as both a physical exercise philosophy and a competitive fitness sport...</p>
        <button class="btn btn-secondary" [routerLink]="['/classes','Cross Fit']">Know More</button>
      </section>
      </div>
    </div>
    <div class="row mb-4 mt-4 highlight">
      <div class="col-8 largeText">
        <section class="info">
        <h3>Weight Loss</h3>
        <p>Your weight is a balancing act, but the equation is simple...</p>
        <button class="btn btn-secondary" [routerLink]="['/classes','Weight Loss']">Know More</button>
      </section>
      </div>
      <div class="col-12 col-4 labelled">
        <h5>Weight Loss</h5>
        <img class="d-block w-100 h-auto" src="assets/images/class/weightloss.jpg" alt="group of ladies doing jumping jack" width="1140" height="561" />
        <a href="#" [routerLink]="['/classes','Weight Loss']">Know More</a>
      </div>
    </div> -->

  </div>
</div>
