<div class="limited">

  <div class="container">
    <h1 class="heading mt-5 mb-3 text-center">{{ classDetail?.className | uppercase }}</h1>

    <div class="row">


      <div class="col-12">
        <img
          class="d-block w-100 h-100"
          src="{{ classDetail?.photoURL }}"
          alt="image"
          width="1140"
          height="561"
        />
      </div>
      <div class="col-12" >
        <p class="description">{{ classDetail?.classDescription  }} </p>
      </div>
      <!-- TODO- Print class price per hour here- small task -->
      <div class="col-12">
        <h3 class="mb-4 mt-3">Meet our {{classDetail?.className}} coaches</h3></div>

      <div class="col-3 col-12 text-center" *ngFor="let coach of coaches">
        <img src="{{coach?.photoURL}}" class="img-fluid rounded-circle mb-3" style="cursor: pointer;"  alt="coach image" [routerLink]="['/coach',coach.coachID]" routerLinkActive="router-link-active"  >
        <p class="center-block text-center">{{coach?.coachName}}</p>
      </div>
      <!-- <div class="col-3 col-12">
        <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle mb-3"  alt="coach image">

      </div>
      <div class="col-3 col-12">
        <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle mb-3"  alt="coach image">
      </div>
      <div class="col-3 col-12">
        <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle mb-3"  alt="coach image">
      </div> -->

    </div>

  </div>
</div>
