<div class="limited">
  <div class="container">
    <div class="row">
      <div class="col mt-3 text-center">
        <img src="{{ coachResponse.photoURL }}" class="img-fluid rounded-circle mb-3" alt="coach image" />
      </div>
      <div class="col-12">
        <table class="m-auto w-50 table table-borderless">
          <tr class="text-center">
            <td class="h5">Name :</td>
            <td class="font-weight-bold">{{ coachResponse.coachName }}</td>
          </tr>
          <tr class="text-center">
            <td class="h5">Degree :</td>
            <td>{{ coachResponse.degree }}</td>
          </tr>
          <tr class="text-center">
            <td class="h5">Classes run by coach :</td>
            <td>
              <div *ngFor="let item of coachResponse.classes">
                {{ item.className }}
              </div>
            </td>
          </tr>
          <tr class="text-center">
            <td class="h5 mt-3">Rate coach :</td>
            <td>
              <FH-rating></FH-rating>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-12">
        <div class="form-group">
        <label for="txtTestimony" class="h5">Write your Testimony :</label>
        <textarea class="form-control" name="txtTestimony" id="txtTestimony" cols="30" rows="10" placeholder="Enter your Testimony (You are free to keep it blank as well and submit ratings only, but we would love if you say something. :) )"></textarea>
        <button class="btn btn-outline-secondary mt-3">Submit your Review and Testimony</button>
      </div>
      </div>
      <!-- <div class="col-12 align-items-center justify-content-center"><FH-rating class="d-flex align-items-center justify-content-center"></FH-rating></div> -->
    </div>
  </div>
</div>
