<div class="container-fluid img-background">
  <div class="container white-transparent mb-3">
    <div class="row">
      <div class="col-12">
        <h1 class="orange-text text-center">
          Massage Therapy<br /><span class="subhead"
            >Pain Relief | Relaxation</span
          >
        </h1>
        <p class="m-para">
          Show your body the love and attention it deserves with massage and
          other restorative treatments. Our massage therapists are here to
          provide customized services to help you recover, relax, or relieve
          your aches and pains.
        </p>
      </div>
    </div>
    <div class="flex-button flex-column">
      <a href="#" class="btn btn-style" title="Schedule a visit" target="_blank"
        >Schedule a visit</a
      >
    </div>
  </div>
</div>
<div class="container-fluid black-ground">

</div>
<div class="limited"></div>
