
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-dark">
  <div class="gymlogo">
  <img src="assets/gymlogo.svg" alt="Fithub Gym logo" />
</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mnuItem" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/classes']">Classes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/massage']">Massage Therapy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
      </li>
      <li class="nav-item" *ngIf="this.authService.isUserAuthenticated()">
        <a href=""   (click)="logout()" class="nav-link">Logout</a>
      </li>
      <li *ngIf="!this.authService.isUserAuthenticated()" class="nav-item dropdown" style="align-content: flex-end;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Members Arena
        </a>
        <div class="dropdown-menu dropItem" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-link"  [routerLink]="['members/login']" routerLinkActive="router-link-active"  >Login</a>
          <a class="dropdown-item nav-link" [routerLink]="['members/register']" routerLinkActive="router-link-active" >Registration</a>

        </div>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li> -->
    </ul>

  </div>
<div *ngIf="this.authService.isUserAuthenticated()" class="unameLogo" >
Hello <a class="unameLogo" [routerLink]="['members/userhome']" routerLinkActive="router-link-active"> {{this.authService.getCurrentLoggedInUser()?.firstName}}</a>
&nbsp;
<img
            src="/assets/images/coach/150.png"
            class="img-fluid rounded-circle" style="height: 3vh; width: 3vh; margin-bottom: 1vh;cursor: pointer;"
            alt="coach image" [routerLink]="['members/register']"
          />
</div>
</nav>
<!-- /assets/images/coach/150.png -->
<!-- https://lh3.googleusercontent.com/a/ACg8ocKpvkShtrQrffPwyEYhzM4FzidmGzaTbLJSrTJOkCN7rQ4=s96-c -->
<!-- ====================================================================
Wanted to do a modal login window but seem like the login module is separate and the components are not
exposed to this module so making it as normal component
========================================================================-->

<!-- <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">GeeksForGeeks</h4>
      </div>
      <div class="modal-body">
         <p>One Stop Solution for all CS problems</p>
        <FH-login></FH-login>
        <ng-content></ng-content>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div> -->
