
.navbar-nav {
  margin-left: auto;
}
/* gym logo */
.gymlogo > img {
  height: 9em;
  width: 9em;
  border-radius: 5px;
  margin-left: 5rem;
}

/* Menu */
.mnuItem {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: rgb(235, 235, 235);
}
.mnuItem>text{
  color:  rgb(214, 205, 205);
}
/* drowdown button */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
}
.dropdown:hover .dropdown-content {
  display: block;

}

.dropItem{
  background-color: #343a40;
  font-size: 1.5rem;
  color: #caced1 !important ;
}
.dropItem :hover{

  color: #caced1af !important ;
  background-color: #343a40;
}
.nav-link{
  color: #caced1!important;
}
.nav-link:hover{
  color: #caced1af !important ;
}

@media only screen and (max-width:600px){
  /* .navbar{
     position: absolute;
    margin-right: auto;
    margin-left: auto;
  }
  .gymlogo > img{
    max-width: auto;
    max-height: auto;
  }
  .nav{
    display: flex;
    flex-direction: row;
  } */
}
