<nav class="navbar navbar-expand-sm bg-light">
  <div class="gymlogo">
    <img src="assets/gymlogo.jpg" alt="Fithub Gym logo" />
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="nav-item mnuItem"><a class="nav-link" href="">Home</a></li>
      <li class="nav-item mnuItem"><a class="nav-link" href="">Classes</a></li>
      <li class="nav-item mnuItem">
        <a class="nav-link" href="">Facilities</a>
      </li>
      <li class="nav-item mnuItem">
        <a class="nav-link" href="">Contact Us</a>
      </li>

      <!-- member area -->
      <li class="dropdown">
        <button class="dropbtn mnuItem">Members Arena</button>
        <div class="dropdown-content">
          <a class="mnuItem" href="#">Login</a>
          <a class="mnuItem" href="#">Registration</a>
        </div>
      </li>
       <!-- member area -->
    </ul>
  </div>
</nav>
