.img-background {
  background-image: url("/assets/loginbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  /* opacity: 0.3; */
  background-position: top center;
}

.white-transparent {
  background:
  rgb(52 58 64 / 74%);
  width: 100%;
  border: solid #caced1 1px;
}
.label-mat{
  color: #E4D2D2;

}
.full-width{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#googleLogin:hover{
  color:  #caced1
}

/*if screen size is more than 600px */
@media only screen and (min-width: 600px) {
  /* .img-background:first-of-type {
    padding-top: 600px;
  } */
  .white-transparent{
    width: 40%;
  }
}
