<div class="container-fluid img-background">
  <div class="limited">
    <div class="container white-transparent mb-3">
      <h2 class="label-mat p-2 text-center">Reset Password</h2>
      <form #formForgotPassword="ngForm" class="p-3" (ngSubmit)="GetUserIDByEmail(formForgotPassword)" novalidate>
        <div class="form-group">
          <em class="float-right" *ngIf="
              formForgotPassword.controls.email?.invalid &&
              formForgotPassword.controls.email?.touched &&
              formForgotPassword.controls.email?.errors.required
            " style="color: red">*Required</em>
          <em class="float-right" *ngIf="
              formForgotPassword.controls.email?.invalid &&
              formForgotPassword.controls.email?.touched &&
              formForgotPassword.controls.email?.errors.pattern
            " style="color: red">*Enter a valid Email</em>
          <label for="email" class="label-mat">Email address</label>
          <input type="email" class="form-control" id="email" name="email"  ngModel
            pattern="[^ @]*@[^ @]*" placeholder="ex: someone@example.com" required />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </form>


      <!-- by default hide it -->
      <form class="p-3" #formForgotPasswordr="ngForm" [hidden]="isPasswordFieldsHidden" (ngSubmit)="ReSetUserPassword(formForgotPasswordr)" [fHFieldMatcher]="['password','rePassword']" novalidate>
        <div class="form-group">
          <em class="float-right" *ngIf="
              formForgotPasswordr.controls.password?.invalid &&
              formForgotPasswordr.controls.password?.touched &&
              formForgotPasswordr.controls.password?.errors.required
            " style="color: red">*Required</em>
          <em class="float-right" *ngIf="
              formForgotPasswordr.controls.password?.invalid &&
              formForgotPasswordr.controls.password?.touched &&
              formForgotPasswordr.controls.password?.errors.minlength
            " style="color: red">*Password needs to minimum 3 characters and maximum 8
            characters</em>
          <label for="password" class="label-mat">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="New Password" ngModel
             minlength="3" maxlength="10" required />
        </div>
        <div class="form-group">
          <em class="float-right" *ngIf="
              formForgotPasswordr.controls.rePassword?.invalid &&
              formForgotPasswordr.controls.rePassword?.touched &&
              formForgotPasswordr.controls.rePassword?.errors.required
            " style="color: red">*Required</em>
            <em class="float-right" *ngIf="formForgotPasswordr.controls.rePassword?.invalid && formForgotPasswordr.controls.rePassword?.touched &&
            formForgotPasswordr.controls.rePassword?.errors.fHFieldMatcher " style="color: red">*Password do not match</em>
          <em class="float-right" *ngIf="
              formForgotPasswordr.controls.rePassword?.invalid &&
              formForgotPasswordr.controls.rePassword?.touched &&
              formForgotPasswordr.controls.rePassword?.errors.minlength
            " style="color: red">*Password needs to minimum 3 characters and maximum 8
            characters</em>
          <label for="rePassword" class="label-mat">Confirm Password</label>
          <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="Re enter new Password" ngModel
             minlength="3" maxlength="10" required  />
        </div>
        <button type="submit" class="btn btn-primary">Set New Password</button>
      </form>

      <!-- <pre style="color:red">{{formForgotPasswordr.value|json}}
  {{formForgotPasswordr.controls.repassword}}
   {{formForgotPasswordr.controls.rePassword?.touched}}
</pre> -->
      <div *ngIf="isErrored" class="alert alert-danger mt-3">
        <div [innerHTML]="errorMessage"></div>

        </div>

        <div *ngIf="isSuccess" class="alert alert-success mt-3">
          Your Password has been reset. Click <a [routerLink]="['/members/login']" routerLinkActive="router-link-active" >here</a> to log in

          </div>

    </div>
  </div>
</div>
