<div class="limited">
  <div class="container">
    <!-- User dynamic information -->
    <div class="row">
      <div class="rounded-container col">
        <div class="box">
          <div>
            Name :
            <h5>{{ loggedInUser.firstName + " " + loggedInUser.lastName }}</h5>
          </div>
          <div>
            Height :
            <h5>{{ loggedInUser.userInfo.height }}</h5>
          </div>
          <div>
            Weight :
            <h5>{{ loggedInUser.userInfo.weight }}</h5>
          </div>
          <div>
            BMI :
            <h5>{{ loggedInUser.userInfo.bmi }}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2 mt-2">
      <div class="col d-flex align-items-stretch">
        <div class="box">
          <mat-card>
            <mat-card-title class="h5">1 Month</mat-card-title>
            <mat-card-subtitle>Gym Membership</mat-card-subtitle>
            <mat-card-content>
              <p>1500</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="accent"
                value="1500"
                (click)="addGymMembership($event)"
              >
                ADD
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="box">
          <mat-card>
            <mat-card-title class="h5">3 Month</mat-card-title>
            <mat-card-subtitle>Gym Membership</mat-card-subtitle>
            <mat-card-content>
              <p>3000</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="accent"
                value="3000"
                (click)="addGymMembership($event)"
              >
                ADD
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="box">
          <mat-card>
            <mat-card-title class="h5">6 Month</mat-card-title>
            <mat-card-subtitle>Gym Membership</mat-card-subtitle>
            <mat-card-content>
              <p>4500</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="accent"
                value="4500"
                (click)="addGymMembership($event)"
              >
                ADD
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="box">
          <mat-card>
            <mat-card-title class="h6"
              >1 Year +
              <span matBadge="free" matBadgeOverlap="false"
                >2 months</span
              ></mat-card-title
            >
            <mat-card-subtitle>Gym Membership</mat-card-subtitle>
            <mat-card-content>
              <p>7000</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="accent"
                value="7000"
                (click)="addGymMembership($event)"
              >
                ADD
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div class="col d-flex align-items-stretch">
        <div class="box">
          <mat-card>
            <mat-card-title class="h6"
              >2 year +
              <span matBadge="free" matBadgeOverlap="false"
                >6 months</span
              ></mat-card-title
            >
            <mat-card-subtitle>Gym Membership</mat-card-subtitle>
            <mat-card-content>
              <p>10000</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="accent"
                value="10000"
                (click)="addGymMembership($event)"
              >
                ADD
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="col-md-12 rounded-container p-2">
          <div class="row">
            <div class="col-md-6">
              <div class="drag-container">
                <h4 class="text-center">Availabe Classes</h4>
                <div
                  class="example-list"
                  cdkDropList
                  #availableClassesRef="cdkDropList"
                  [cdkDropListData]="availableClasses"
                  [cdkDropListConnectedTo]="[enrolledClassesRef]"
                  (cdkDropListDropped)="drop($event)"
                  [cdkDropListEnterPredicate]="noReturnPredicate"
                >
                  <div
                    class="example-box"
                    *ngFor="let item of availableClasses"
                    cdkDrag
                    title="Drag classes you want to enroll and drop them in enrolled classes section"
                  >
                    {{ item.className }} <br />
                    <small>{{ item.pricePerSession }}</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="drag-container">
                <h4 class="text-center">Enrolled Classes</h4>
                <div
                  class="example-list"
                  cdkDropList
                  #enrolledClassesRef="cdkDropList"
                  [cdkDropListData]="enrolledClasses"
                  [cdkDropListConnectedTo]="enrolledClassesRef"
                  (cdkDropListDropped)="drop($event)"
                >
                  <div
                    class="example-box"
                    *ngFor="let item of enrolledClasses"
                    cdkDrag
                  >
                    {{ item.className }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="col-md-12 rounded-container p-2">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Particulars</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Gym mebership</td>
                <td>{{ gymTotalPrice }}</td>
              </tr>
              <tr>
                <td>Classes</td>
                <td>{{ classesTotalPrice }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Total</td>
                <td class="font-weight-bold">
                  {{ gymTotalPrice + classesTotalPrice }}
                </td>
                <td
                  data-toggle="tooltip"
                  title="Not Happy with selection,Reload !!"
                  (click)="Reload()"
                >
                  <i class="fa fa-rotate-right d-inline-block"></i>
                </td>
              </tr>
              
            </tbody>
          </table>
          <button
                mat-raised-button
                color="accent"
                
              >
                CHECKOUT
              </button>
              <!-- TODO: write checkout code here -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col rounded-container mt-4 p-3">
        <div class="gridflow" style="overflow-x: scroll">
          <!-- repetative div starts -->
          <div class="d-flex align-items-stretch">
            <div *ngFor="let item of coachRatings">
              <!-- {{item|json}}
                            {{i}} -->
              <img
                src="{{ item?.photoURL }}"
                class="img-fluid rounded-circle d-block ml-auto mr-auto"
              /><br />
              <div style="text-align: center">{{ item?.coachName }}</div>
              <span>
                <FH-rating
                  style="height: 100px"
                  [starrating]="item?.rating"
                  [componentID]="item?.coachID"
                  (rated)="changeRating($event)"
                ></FH-rating>
              </span>
            </div>
          </div>
          <!-- repetative div ends -->
        </div>
      </div>
    </div>

    <div class="row">
      <ng-container *ngIf ="datafromServer  else loading">
          <div class="col-12 rounded-container mt-4 p3">
            <div class="form-group mt-4">
              <form
                #testimonyForm="ngForm"
                (submit)="SubmitTestimony(testimonyForm)"
              >
                <label for="txtTestimony" class="h5">Write your Testimony :</label>
                <textarea
                  class="form-control"
                  name="txtTestimony"
                  id="txtTestimony"
                  required
                  cols="30"
                  rows="10"
                  placeholder="Enter your Testimony (You are free to keep it blank as well and submit ratings only, but we would love if you say something. :) "
                  [(ngModel)]="userTestimonyDTO.testimony"
                ></textarea>
                <!-- {{userTestimonyDTO.testimony}}
                      {{testimonyForm.value|json}} -->
                <button
                  class="btn btn-outline-secondary mt-3"
                  [disabled]="
                    !userTestimonyDTO?.testimony ||
                    !testimonyForm.controls?.txtTestimony?.dirty
                  "
                >
                  Submit Testimony
                </button>
              </form>
            </div>
          </div>
      </ng-container>
      <ng-template #loading>loading ..</ng-template>
    </div>
  </div>
</div>
