@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
/*
body {
    font-family: 'Rubik', sans-serif;
    height: 100% !important;
    background-color: #F8F9FB !important
} */

.container-fluid {
  margin-top: 101px;
  color: #000 !important;
}

p {
  font-size: calc(
    12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
  display: fkex;
}

h3 {
  font-size: calc(
    24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.color-text {
  color: #757575 !important;
}

/* button {
    font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
    background-color: #2CA6FB !important;
    padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
} */

footer {
  color: #caced1 !important;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-1 {
  background-color: #1e242a !important;
}

.row-2 {
  background-color: #28323c !important;
}
.social {
  margin-left: 0.2rem;
}
.social:hover {
  /* background-color:  #007bff; */
  /* width: 1.8rem; */
  opacity: 0.3;
  color: white;
  cursor: pointer;
}
.subscribeMail {

  height: 3vh;
  padding-left: 0.3rem;
}

.subscribeMail:hover {
  cursor: pointer;
}
#subscribeTxtEmail {
  padding: 0.2rem !important;
  border-radius: 5px !important;
}

.subscribeTextHeading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

div#socialContact{
  flex-basis: 100%;
}

/* medium scree */
@media only screen and (min-width:768px){
  div#socialContact{
    flex-basis: 25%;;
  }
  .subscribeMail{
    height: 5vh;
  }
}
